#line1 {
  background-color: #bbe3f9;
}
#line2 {
  background-color: #8cb6ce;
}
.book-coach form input[type="submit"] {
  width: 140px;
  margin: 50px auto;
  border-color: #8cb6ce;
  text-align: center;
}
.book-coach form input[type="submit"]:hover {
  background-color: #8cb6ce;
}
