.main-section {
  display: block;
}
.checkout-coaches,
.checkout-payment {
  margin: 50px auto;
  text-align: center;
}
.checkout-coaches h3,
.checkout-payment h3 {
  font-weight: 700;
  font-size: var(--h3-size);
  color: #131971;
  /* text-align: left; */
  /* border: 1px solid red; */
}
.book-coach {
  border: none;
}
.book-coach-header h2 {
  margin-bottom: 0;
}
.backSearch a {
  text-decoration: none;
  color: #3a3a3a;
  font-weight: 700;
}
.backSearch:hover a {
  text-decoration: underline;
}
.coach-div {
  width: 160px;
  height: 230px;
  border-color: #f7b700;
  cursor: default;
}
.coach-div p {
  font-size: 0.73em;
}
.coach-check:hover {
  /* pointer-events: none; */
  border-color: #f7b700;
}
.coach-img {
  height: 65px;
}
.coach-status {
  width: 160px;
}
.book-coach:hover #line3 {
  background-color: #131971;
}
.book-coach:hover #line4 {
  background-color: #f7b700;
}
#line3 {
  background-color: #131971;
}
#line4 {
  background-color: #f7b700;
}
.basketItems {
  /* font-size: 0.6em; */
}
#noItems {
  font-weight: 700;
}
#clearBasket {
  margin: 20px auto;
}
#clearBasket a {
  color: #3a3a3a;
  font-weight: 700;
  font-size: 0.9em;
}
hr {
  border: 0;
  width: 80%;
  height: 1px;
  margin: 50px auto;
  background: rgba(19, 25, 113, 0.5);
}
#visa,
#mastercard {
  margin-right: 1px;
  vertical-align: middle;
}
#mastercard {
  margin-left: 10px;
}
.checkout-payment label img {
  width: 50px;
  margin-right: 20px;
}
.checkout-payment p {
  font-weight: bold;
}
.checkout-payment button {
  width: 120px;
  height: 35px;
  border-radius: 30px;
  cursor: pointer;
  background-color: white;
  border: 2px solid #f7b700;
  color: #131971;
  font-weight: bold;
  transition: all 0.4s;
  margin-top: 40px;
  font-size: 1.05em;
}
.checkout-payment button:hover {
  background-color: #131971;
  color: white;
}
.checkout-payment input[type="radio"] {
  display: inline-block;
  width: 40px;
  height: 15px;
}
.payment-msg {
  display: block;
  font-style: italic;
  font-size: 0.7em;
  margin-top: 10px;
}
.paymentprocess {
  margin-top: 30px;
  animation: logo-spin 3 2s linear;
}
.stopPaymentProcess {
  animation: logo-spin 1 2s linear;
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.paymentBg {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 101;
}
.paymentPopup {
  position: absolute;
  background-color: white;
  border: 2px solid #131971;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 200px;
  margin-left: -150px;
  margin-top: -110px;
  text-align: center;
  font-weight: bold;
  border-radius: 25px;
  padding: 10px;
}
.paymentPopup p {
  margin-top: 30px;
}
.paymentPopup a {
  visibility: hidden;
  display: inline-block;
  text-decoration: none;
  /* margin: 10px 10px 0px 10px; */
  padding: 5px 0;
  border: 2px solid #131971;
  background-color: white;
  cursor: pointer;
  transition: all 0.3s;
  width: 100px;
  text-align: center;
  font-size: 1em;
  color: #131971;
  border-radius: 30px;
  transition: all 0.4s;
}
.paymentPopup a:hover {
  background-color: #131971;
  color: white;
}
.checkout-payment .no-account {
  display: block;
  border: none;
  padding: 0px;
}
#loginBtn {
  color: #476072;
  cursor: pointer;
}
#loginBtn:hover {
  color: #131971;
}
.checkout-payment .login-container {
  display: none;
}
.login-container input[type="submit"] {
  margin-bottom: 5px;
}
.login-container label::before {
  content: "*";
  color: red;
}
