.book-coach form span p {
  /* margin: 0 auto; */
  text-align: center;
}
.book-coach form input {
  width: 200px;
  text-align: left;
  font-size: 1.2em;
  color: black;
  padding-left: 10px;
}
#loginStatus {
  color: rgb(255, 22, 80);
  font-weight: 500;
}
.book-coach form input[type="submit"] {
  width: 140px;
  margin: 50px auto;
  text-align: center;
}
.no-account p {
  font-weight: bold;
  color: #476072;
}
.no-account a {
  color: #476072;
}
.no-account a:hover {
  color: var(--purple-colour);
}
.checkout-payment div {
  border: none;
  margin: 0px auto;
}
.checkout-payment h3 {
  font-weight: 700;
  font-size: var(--h3-size);
  color: #131971;
  clear: both;
  margin: 2px auto;
}
.signupBg {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 100;
}
.signupPopup {
  position: absolute;
  background-color: white;
  top: 50%;
  left: 50%;
  width: 500px;
  border: 2px solid #637888;
  margin-left: -250px;
  margin-top: -300px;
  text-align: center;
  font-weight: bold;
  border-radius: 25px;
  /* padding: 10px; */
}
.signupPopup img {
  width: 30px;
  float: right;
  cursor: pointer;
  margin: 10px 10px 0 0;
}
.checkout-payment input[type="submit"] {
  width: 100px;
  height: 35px;
  border-radius: 30px;
  cursor: pointer;
  background-color: white;
  border: 2px solid #476072;
  color: #131971;
  font-weight: bold;
  transition: all 0.4s;
}
.book-coach-header p {
  font-weight: 700;
}
.book-coach-header p a {
  color: var(--blue-colour);
}
#your-bookings {
  font-size: 1.4em;
  color: var(--blue-colour);
}
.bookings-table table {
  border-spacing: 10px;
  margin-bottom: 40px;
}
#no-bookings {
  margin: 40px auto;
  font-style: italic;
}

@media only screen and (max-width: 610px) {
  .bookings-table table {
    border-spacing: 1px 10px;
    /* padding: 10px 0; */
  }
  .book-coach {
    width: 420px;
  }
}

@media only screen and (max-width: 540px) {
  body {
    overflow: visible;
  }
  .signupBg {
    position: absolute;
  }
  .checkout-payment div {
    display: block;
    width: 95%;
    /* margin: 0 auto; */
    padding: 0;
  }
  .checkout-payment h3 {
    margin-bottom: 30px;
  }
  .signupPopup {
    width: 350px;
    margin-left: -175px;
    top: 10px;
    margin-top: 0;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 466px) {
  .book-coach {
    width: 99%;
  }
}

@media only screen and (max-width: 405px) {
  .bookings-table table {
    font-size: 0.8em;
  }
}

@media only screen and (max-width: 383px) {
  .book-coach form input {
    width: 80%;
    font-size: 0.9em;
  }
  form select {
    width: 82%;
  }
  .signupPopup {
    position: static;
    width: 88%;
    margin-left: auto;
    margin-right: auto;
  }
  #warningDriver {
    width: 90%;
    font-size: 0.75em;
  }
}

@media only screen and (max-width: 325px) {
  .bookings-table {
    overflow-x: scroll;
  }
}
