.book-coach form span p {
  /* margin: 0 auto; */
  text-align: center;
}
.book-coach form input {
  width: 200px;
  text-align: left;
  font-size: 1.2em;
  color: black;
  padding-left: 10px;
}
#loginStatus {
  color: rgb(255, 22, 80);
  font-weight: 500;
}
.book-coach form input[type="submit"] {
  width: 140px;
  margin: 50px auto;
  text-align: center;
}
.no-account p {
  font-weight: bold;
  color: #476072;
}
.no-account a {
  color: #476072;
}
.no-account a:hover {
  color: var(--purple-colour);
}
.checkout-payment div {
  border: none;
}
.signupBg {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.5);
}
.signupPopup {
  position: absolute;
  background-color: white;
  top: 50%;
  left: 50%;
  width: 500px;
  border: 2px solid #637888;
  margin-left: -250px;
  margin-top: -300px;
  text-align: center;
  font-weight: bold;
  border-radius: 25px;
  /* padding: 10px; */
}
.signupPopup img {
  width: 30px;
  float: right;
  cursor: pointer;
  margin: 10px 10px 0 0;
}
.checkout-payment input[type="submit"] {
  width: 100px;
  height: 35px;
  border-radius: 30px;
  cursor: pointer;
  background-color: white;
  border: 2px solid #476072;
  color: #131971;
  font-weight: bold;
  transition: all 0.4s;
}
