.main-section {
  display: flex;
  width: 96%;
  justify-content: space-between;
  /* border: 1px solid red; */
}
.search-holder {
  flex-basis: 20%;
  width: 300px;
  height: 700px;
}
.search-filter {
  position: absolute;
  /* top: 3.4%; */
  background-color: rgb(243, 243, 243);
  width: 20%;
  height: 700px;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 20px;
  transition: all 0.5s;
}
.search-filter h3 {
  text-align: center;
}
.search-filter div {
  border: 1px solid rgb(220, 220, 220);
  border-radius: 10px;
  width: 92%;
  margin: 10px auto;
  height: 200px;
  text-align: center;
}
.search-filter div p {
  color: rgb(33, 144, 255);
  font-weight: 500;
  /* text-align: left; */
}
.search-filter div p span {
  color: black;
}
.search-filter button {
  display: block;
  font-size: 1em;
  margin: 40px auto;
  padding: 5px 20px;
  border-radius: 20px;
  border: 1px solid rgb(33, 144, 255);
  cursor: pointer;
  background-color: transparent;
  transition: all 0.4s;
}
.search-filter button:hover {
  background-color: rgb(33, 144, 255);
  color: white;
  border-color: black;
}
.filterTitle {
  margin-top: 80px;
}
#coverPassengers {
  display: none;
}
#seat {
  display: none;
}
.coach-results {
  flex-basis: 77%;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 20px;
  text-align: center;
  padding: 20px 0;
}
.coach-div {
  display: inline-block;
  width: 220px;
  height: 300px;
  margin: 10px 15px;
  padding: 10px;
  text-align: center;
  border: 2px solid rgb(230, 230, 230);
  border-radius: 20px;
  /* box-shadow: 0 0 5px rgb(200, 200, 200); */
  cursor: pointer;
  transition: border 0.3s;
}
.coach-div-selected {
  background-color: rgb(219, 237, 255);
  border-color: rgb(33, 144, 255);
}
.coach-in-basket {
  background-color: rgb(234, 232, 255);
  border-color: rgb(69, 75, 243);
}
.coach-div:hover {
  border-color: rgb(33, 144, 255);
}
.coach-in-basket:hover {
  border-color: rgb(69, 75, 243);
}
.coach-div p {
  font-weight: 500;
}
.coach-img {
  height: 90px;
  vertical-align: middle;
}

.coach-status {
  position: absolute;
  width: 220px;
  height: 100px;
  text-align: left;
}
.coach-div-selected .coach-addbasket,
.coach-in-basket .coach-addbasket {
  display: block;
}
.coach-div-selected .coach-info,
.coach-in-basket .coach-info {
  display: none;
}
.coach-addbasket {
  display: none;
}
.coach-addbasket button {
  width: 120px;
  margin: 51px;
  border-radius: 20px;
  background-color: rgb(33, 144, 255);
  color: white;
  border: none;
  /* background-color: white;
  color: rgb(33, 144, 255); */
  padding: 5px 15px;
  cursor: pointer;
  transition: all 0.2s;
}
.coach-addbasket button:hover {
  transform: scale(1.02);
}
.coach-in-basket button {
  background-color: rgb(69, 75, 243);
}
.btn-remove-basket {
  display: none;
}
.coach-status img {
  width: 20px;
  vertical-align: middle;
}

.no-coaches {
  margin-top: 50px;
}
.no-coaches p {
  font-weight: bold;
}
.no-coaches a {
  color: var(--blue-colour);
}

#price {
  color: rgb(33, 144, 255);
}

@media only screen and (max-width: 763px) {
  .coach-results {
    flex-basis: 70%;
  }
  .search-holder {
    flex-basis: 27%;
  }
  .search-filter {
    width: 27%;
  }
}

@media only screen and (max-width: 610px) {
  .coach-results {
    flex-basis: 55%;
  }
  .search-holder {
    flex-basis: 40%;
  }
  .coach-addbasket button {
    margin: 35px;
  }
  .search-filter {
    width: 40%;
  }
  .coach-div {
    width: 190px;
  }
  .coach-status {
    width: 190px;
  }
}

@media only screen and (max-width: 465px) {
  .search-filter {
    height: auto;
  }
  .search-filter h3 {
    font-size: 1em;
  }
  .search-filter button {
    margin: 10px auto;
  }
  .search-filter div p {
    margin: 5px auto;
  }
  .search-filter div {
    height: auto;
    margin: 15px auto;
  }
  .filterTitle {
    margin-top: 20px;
  }
  .coach-div {
    margin: 10px auto;
    width: 85%;
    height: 230px;
  }
  .coach-div p {
    font-size: 0.8em;
  }
  .coach-addbasket button {
    width: 95%;
    margin: 10px;
  }
  .coach-img {
    height: 70px;
  }
  .coach-status {
    width: 90%;
    position: relative;
    height: 90px;
  }
  .coach-status img {
    width: 17px;
  }
  input[type="range"] {
    width: 80%;
  }
}

@media only screen and (max-width: 409px) {
  .coach-results {
    flex-basis: 60%;
  }
  .search-holder {
    flex-basis: 35%;
  }
  .search-filter {
    width: 35%;
  }
  .coach-div {
    width: 70%;
    padding: 4px;
  }
  .coach-div p {
    font-size: 0.7em;
  }
  .search-filter h3 {
    font-size: 0.8em;
  }
  .search-filter p {
    font-size: 0.75em;
  }
  .search-filter button {
    font-size: 0.8em;
    padding: 3px 13px;
  }
  .coach-addbasket button {
    width: 95%;
    padding: 5px 2px;
    font-size: 0.7em;
  }
  .coach-img {
    height: 60px;
  }
  .coach-status img {
    width: 12px;
  }
}
