.coach-div {
  display: inline-block;
  width: 220px;
  height: 350px;
  margin: 10px 15px;
  padding: 10px;
  text-align: center;
  border: 2px solid rgb(230, 230, 230);
  border-radius: 20px;
  box-shadow: 0 0 5px rgb(200, 200, 200);
  cursor: pointer;
  transition: all 0.3s;
}
.coach-div:hover {
  /* transform: scale(1.02); */
  /* background-color: rgb(219, 237, 255); */
  border-color: rgb(33, 144, 255);
}
.coach-div p {
  font-weight: 500;
}
.coach-img {
  width: 200px;
  vertical-align: middle;
}

.coach-status {
  width: 220px;
  text-align: left;
}
.coach-status img {
  width: 20px;
  vertical-align: middle;
}
